@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2925 Campus Green Dr,<br />
    Cincinnati, OH 45221<br />
    <abbr title="Phone">P:</abbr>
    513-000-0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@xtrade.com">Support@xtrade.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@xtrade.com">Marketing@xtrade.com</a>
</address>