@{
    ViewBag.Title = "X-Trade";
}

<div class="jumbotron">
    <h1>X-Trade</h1>
    <p class="lead">X-Trade is a web portal for buying and selling your stuff easily!</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Have something to sell?</h2>
        <p>
            Upload a piture of the item to get started on selling!
        </p>
        <p><a class="btn btn-default" href="/Items/Create">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Products and Services</h2>
        <p>Explore our site to buy wide range of products and services delivered right at your door-step!</p>
        <p><a class="btn btn-default" href="/Items/Search">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See what's trending</h2>
        <p>Want to keep yourself updated with the latest trends on buying and selling in your area or anywhere else in US.</p>
        <p><a class="btn btn-default" href="/Trends/Current">Learn more &raquo;</a></p>
    </div>
</div>